.popup__container{
    position: relative;
    max-width: 430px;
    max-height: 330px;
    margin: 30vh auto;
    background-color: #FFFFFF;
    color: #000000;
    border-radius: 10px;
    overflow: hidden;
}

@media screen and (max-width: 535px) {
    .popup__container {
        max-width: 80%;
    }
}

